<html lang="en">
    <head><title>Error Occurred</title></head>
    <body>
        <h1>Error Occurred!</h1>
        <b>[<!--/*@thymesVar id="status" type="com.mesutbicer.simplebookstore"*/-->
        <span th:text="${status}">status</span>]
            <span th:text="${error}">error</span>
        </b>
        <p th:text="${message}">message</p>
    </body>
</html>