<html>
    <head><title>Home Page</title></head>
    <body>
        <h1>Hello !</h1>
        <!-- <p>Welcome to &lt;!&ndash;/*@thymesVar id="appName" type="com.mesutbicer.simplebookstore"*/&ndash;&gt;-->
        <p>Welcome to <span th:text="${appName}">Our App</span></p>
    </body>
</html>
